<!DOCTYPE html>
<html>
<head>
  <title>Ankursapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <ul>
      <li><%= link_to 'About Us', '#' %></li>
      <li><%= link_to 'Quick Facts', '#' %></li>
      <li><%= link_to 'Survivors Voices', '#' %></li>
    </ul>
  </div>


<%= yield %>

</body>
</html>
